<% provide(:titulo, "Ver Apoderado") %>
<%= form_for @apoderado,  class: "form-horizontal center" do |f| %>
    <div class="btn-group">
    <%= render 'layouts/menu_mantenimiento' %>
    <button type="button" class="btn btn-default"><%= link_to 'Editar', edit_apoderado_path(@apoderado) %></button>
    </div>
  <br />

  <%= render 'shared/error_messages' %>
  <br />
  <div class="form-group">
  	<%= f.label :nombres, "Nombres:", class: "col-md-4 control-label" %>
  	<div class="col-md-4">
      <%= @apoderado.nombres %>
    </div>
  </div>
  <br />
  <div class="form-group">
  	<%= f.label :apellidos, "Apellidos:", class: "col-md-4 control-label" %>
  	<div class="col-md-4">
      <%= @apoderado.apellidos %>
    </div>
  </div>
  <br />
  <div class="form-group">
  	<%= f.label :dni, "Documento de Identidad:", class: "col-md-4 control-label" %>
  	<div class="col-md-4">
      <%= @apoderado.dni %>
    </div>
  </div>
  <br />
  <div class="form-group">
  	<%= f.label :email, "Correo electrónico:", class: "col-md-4 control-label" %>
  	<div class="col-md-4">
      <%= @apoderado.email %>
    </div>
  </div>
  <br />
  <div class="form-group">
  	<%= f.label :celular, "Celular:", class: "col-md-4 control-label" %>
  	<div class="col-md-4">
      <%= @apoderado.celular %>
    </div>
  </div>
  <br />
  <div class="form-group">
  	<%= f.label :direccion, "Direccion:", class: "col-md-4 control-label" %>
  	<div class="col-md-4">
      <%= @apoderado.direccion %>
    </div>
  </div>
  <br />
  <div class="form-group">
  	<%= f.label :fec_nac, "Fecha de nacimiento:", class: "col-md-4 control-label" %>
  	<div class="col-md-4">
      <%= @apoderado.fec_nac %>
    </div>
  </div>
  <br />
  <div class="form-group">
  	<%= f.label :telefono, "Telefono:", class: "col-md-4 control-label" %>
  	<div class="col-md-4">
      <%= @apoderado.telefono %>
    </div>
  </div>
  <br />
  <div class="form-group">
  	<%= f.label :sexo, "Sexo:", class: "col-md-4 control-label" %>
  	<div class="col-md-4">
      <%= @apoderado.sexo %>
    </div>
  </div>
<% end %>