<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Documento de identidad</th>
      <th>Apoderado</th>
    </tr>
  </thead>
  <tbody>
  <% @alumnos.each do |alumno| %>
    <tr>
      <td><%= alumno.nombres %></td>
      <td><%= alumno.apellidos %></td>
      <td><u><%= link_to "#{alumno.dni}", alumno_path(alumno)%></u></td>
      <td><%= alumno.apoderado.nombres + ' ' + alumno.apoderado.apellidos %></td>
    </tr>
  <% end %>
  </tbody>
</table>



<div class="digg_pagination">
  <%= ajax_will_paginate @alumnos, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
</div>