<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sortable "nombres" %></th>
        <th><%= sortable "apellidos" %></th>
        <th><%= sortable "dni" %></th>
        <th>Apoderado</th>
      </tr>
    </thead>
    <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.nombres %></td>
        <td><%= alumno.apellidos %></td>
        <td><u><%= link_to "#{alumno.dni}", alumno_path(alumno)%></u></td>
        <td><%= alumno.apoderado.nombres + ' ' + alumno.apoderado.apellidos %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<div class="digg_pagination">
  <%= ajax_will_paginate @alumnos, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
</div>