<% provide(:titulo, "Editar Alumno") %>
    <%= form_for(@alumno) do |f| %>
      <div class="btn-group">
      <button type="button" class="btn btn-default"><%= link_to "Nuevo", "/nuevo_alumno", id: "logo" %></button>
      <button type="button" class="btn btn-default"><%= link_to "Listar", "/alumnos", id: "logo" %></button>
      <%= f.submit "Guardar", class: "btn btn-default" %>
      </div>
      <br />
      <br />
      
      <% if @alumno.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@alumno.errors.count, "error") %>.
          </div>
          <ul>
          <% @alumno.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <br />
      <div class="form-group">
        <%= f.label :nombres, "Nombres:", class: "col-md-3 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :nombres, class: "form-control" %>
        </div>
      </div>
      <br />
      <br />
      <div class="form-group">
        <%= f.label :apellidos, "Apellidos:", class: "col-md-3 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :apellidos, class: "form-control" %>
        </div>
      </div>
      <br />
      <br />
      <div class="form-group">
        <%= f.label :dni, "Documento de Identidad:", class: "col-md-3 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :dni, class: "form-control" %>
        </div>
      </div>
      <br />
      <br />
      <div class="form-group">
        <%= f.label :direccion, "Dirección:", class: "col-md-3 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :direccion, class: "form-control" %>
        </div>
      </div>
      <br />
      <br />
      <div class="form-group">
        <%= f.label :fec_nac, "Fecha de Nacimiento:", class: "col-md-3 control-label" %>
        <div class="col-md-4">
          <div class="input-group date" id="datetimepicker1" >
            <%= f.text_field :fec_nac, class: "form-control" , :value => @alumno.fec_nac.strftime("%d/%m/%Y") %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="form-group">
        <%= f.label :sexo, "Sexo:", class: "col-md-3 control-label" %>
        <div class="col-md-4">
          <div class="input-group">
            <%= f.radio_button :sexo, 'M'%> Masculino 
            <br />
            <%= f.radio_button :sexo, 'F'%> Femenino
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="form-group">
        <%= f.label :apoderado_id, "Apoderado:", class: "col-md-3 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :apoderado_id, class: "form-control" %>
        </div>
      </div>
    <% end %>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker({
      language: 'es',
      pickTime: false
    });
  });
</script>