<% provide(:titulo, "Alumnos") %>
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <div class="btn btn-default"><%= link_to "Nuevo", "/nuevo_alumno", id: "logo" %></div>
    <div class="btn btn-default"><%= link_to "Listar", "/alumnos", id: "logo" %></div>
  </div>
</div>
<br />
<br />

<%= form_tag alumnos_path, :method => 'get' , :id => "alumnos_search" , remote: true do %>
 <div class="form-group" align="right">
  <%= text_field_tag :search,  params[:search] %>
  <%= submit_tag "Buscar", :nombres => nil %>
 </div>
 <div id="alumnos"><%= render 'alumnos' %></div>
<% end %>