<% provide(:titulo, "Crear Curso") %>

<%= form_for @curso, class: "form-horizontal", html: {role: "form"} do |f| %>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <div class="btn btn-default"><%= link_to "Nuevo", "/nuevo_curso", id: "logo" %></div>
      <div class="btn btn-default"><%= link_to "Listar", "/cursos", id: "logo" %></div>
      <%= f.submit "Crear", class: "btn btn-default" %>
    </div>
  </div>
  <br />
  <br />

  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@curso.errors.count, "error") %>.
      </div>
      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, "Nombre:", class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
  </div>
  <br />
  <br />
  <div class="form-group">
    <%= f.label :area, "Ãrea:", class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :area, class: "form-control" %>
    </div>
  </div>

<% end %>

